
@font-face {
  font-family: 'Calibri';
  src: url('Calibri/Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri/Calibri.woff') format('woff'), url('Calibri/Calibri.ttf')  format('truetype'), url('Calibri/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}
